@use "../var/colors" as *;
@use "../var/mixins" as *;

.contact-us{
    padding: 70px 0 93px;
    background-color: $base;
    color: $white;

    h3{
        color: $yellow;
        font-weight: 700;
        font-size: 56px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 73px;

        @include md{
            font-size: 40px;
            margin-bottom: 70px;
        }

        @include sm{
            font-size: 26px;
        }

        @include xsm{
            margin-bottom: 30px;
        }
    }

    .contact-us-boxes{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 105px;
        justify-content: center;

        @include md{
            margin-bottom: 50px;
        }

        @include xsm{
            margin-bottom: 25px;
        }

        .contact-us-box{
            width: 20%;
            padding: 10px;

            @include md{
                width: 33%;
            }

            img{
                margin-bottom: 15px;
                height: 50px;
                width: auto;

                @include md{
                    height: 40px;
                }

                @include sm{
                    height: 30px;
                }
            }

            h5{
                text-transform: uppercase;
                color: $green;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 5px;

                @include md{
                    font-size: 18px;
                }

                @include sm{
                    font-size: 15px;
                }

                @include xsm{
                    font-size: 12px;
                }
            }
    
            p{
                font-weight: 500;
                font-size: 15px;

                @include md{
                    font-size: 12px;
                }

                @include md{
                    font-size: 10px;
                }

                @include xsm{
                    font-size: 8px;
                }
            }
        }
    }

    button{
        color: $white;
        font-weight: 500;
        font-size: 19px;
        padding: 12px 82px;
        border: 1px solid $blue;
        border-radius: 20px;
        display: flex;
        margin: 0 auto 102px;
        
        @include md{
            font-size: 18px;
            margin: 0 auto 50px;
            padding: 6px 41px;
        }

        @include sm{
            font-size: 15px;
        }

        @include xsm{
            font-size: 12px;
            padding: 5px 25px;
            margin: 0 auto 25px;
        }
    }

    button:hover{
        background-color: $blue;
        transition: 0.2s ease-in-out;
    }

    .contact-us-icons{
        display: flex;
        justify-content: center;

        img{
            width: 46px;
            height: 46px;

            @include md{
                width: 35px;
                height: 35px;
            }

            @include xsm{
                width: 20px;
                height: 20px;
            }
        }

        a:not(:last-child){ 
            margin-right: 25px;

            @include xsm{
                margin-right: 10px;
            }
        }
    }
}