@use "../var/colors" as *;
@use "../var/mixins" as *;

.contact-us-modal-wrapper{
    display: none;
    position: fixed;
    background-color: $base;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    .contact-us-modal{
        background-color: $base;
        padding: 50px;
        width: 70%;
        margin: 7% auto;
        border-radius: 30px;
        display: flex;
        flex-direction: column;

        @include lm{
            padding: 25px;
        }

        .contact-us-form-inner-wrapper{
            display: flex;
            justify-content: space-between;
        
            .contact-us-user-info div:not(:last-child){
                margin-bottom: 44px;

                @include md{
                    margin-bottom: 22px;
                }

                // @include lm{
                //     margin-bottom: 39px;
                // }
            }
        
            .contact-us-user-info{
                width: 50%;

                input{
                    background-color: transparent;
                    color: $white;
                    border: 1px solid $white;
                    border-radius: 18px;
                    font-size: 18px;
                    padding: 16px 13px;
                    width: 80%;

                    @include md{
                        font-size: 14px;
                    }

                    @include lm{
                        padding: 8px 6px;
                        font-size: 11px;
                    }
                }
            }
        
            .contact-us-user-project{
                display: flex;
                width: 50%;
        
                textarea{
                    background-color: transparent;
                    border: 1px solid $white;
                    border-radius: 18px;
                    resize: none;
                    padding: 16px 21px;
                    color: $white;
                    font-size: 18px;
                    width: 100%;

                    @include md{
                        font-size: 14px;
                    }

                    @include lm{
                        font-size: 11px;
                    }

                    @include sm{
                        padding: 8px 10px;
                    }
                }
            }
        }

        button{
            display: flex;
            color: $white;
            font-weight: 500;
            font-size: 20px;
            background-color: $blue;
            padding: 12px 43px;
            border-radius: 18px;
            margin: 40px auto 0;

            @include md{
                font-size: 15px;
            }

            @include lm{
                margin: 20px auto 0;
                font-size: 12px;
            }
        }
    }
}

