@use "../var/colors" as *;
@use "../var/mixins" as *;

.our-team{
    padding: 53px 0 70px;

    h3{
        font-weight: 700;
        font-size: 52px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 140px;
    }

    .our-team-cards{
        display: flex;
        justify-content: space-between;

        .our-team-card{
            width: 230px;

            img{
                width: 230px;
                height: 230px;
                border-radius: 50%;
                margin-bottom: 25px;
            }

            .our-team-info{
                text-align: center;

                p{
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}