@use "../var/colors" as *;
@use "../var/mixins" as *;

.portfolio{
    padding: 57px 0 104px;
    background-color: $base;
    color: $white;

    h3{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 52px;
        text-align: center;
        margin-bottom: 100px;
    }

    .portfolio-examples{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 104px;
    }
}